@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

/* --------------------------Special Padding/Margin */

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

/* --------------------------Colours */

.background{
    background: lightgrey;
}

/* --------------------------Home Page - Landing Section */

.hero-image{
    height: 85vh;
    background: url(../images/landing-image.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-text{
    height: 85vh;
    line-height: 85vh;
    text-align: center;
}

.hero-text img{
    height: 11rem;
}

.search-area{
    background: #bc7860f7;
    margin: auto;
    margin-top: -4.5625rem;
    height: 9.125rem;
    border-radius: 0.625rem;
    border: 0.1rem solid #fff;
    margin-bottom: 8vh;
}

.search-box{
    padding: 3rem 2.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.search-bar{
    width: 85%;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    border:  0.1rem solid #fff;
    background: transparent;
    color: white;    
}

.search-bar:focus {
    box-shadow: -1px 0px 14px 0.5px #32bbec
}

.search-bar::placeholder{
    color: #fff;
}

.search-btn{
    background: #60a3bc;
    width: 10%; 
    border-radius: 0.3125rem;
    border: 0.1rem solid #fff;
}

.search-btn:hover {
    transition: all .4s ease-in-out;
    background: #3284a2; 
    transform: scale(1.05);
}

.search-btn i {
    color: #fff;
}

/* -------------Search bar errors classes - triggered by Javascript in weather-api.js*/

.emptyTextError{
    color: red;
    padding: 0.15rem 0 0 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serf
}

.emptyTextError .mistake{
    color: rgb(251, 255, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serf
}

.emptyTextError .mistake a{
    color: rgb(251, 255, 0);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serf
} 

.emptyTextError .mistake a:hover{
    color: rgb(255, 217, 0);
}

.ifErrorBorder{
    border: 1px solid red;
}

/* --------------------------Home Page - Main Section */

.main-section{
    margin-bottom: 10px;
}

.currentWeatherCard{
    margin: 0 auto;
    height: 39rem;
    background: #f5f5f5;
    border: 1px solid rgba(133, 133, 133, 0.329);
    border-radius: 30px;
    width: 80rem;
    margin-top: 3rem;
    box-shadow: 1.5px 1.5px 4px 1px rgba(133, 133, 133, 0.486);
}

.currentWeatherCard .col{
    margin: auto;
    text-align: center;
}

.location {
    height: 6rem;
}

.location h2{
    color: black;
    font-size: 65px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

.weatherMain {
    height: 15rem;
}

.sunTimes {
    height: 9rem;
}
.weatherForecasts {
    height: 9rem;
}

.weatherForecasts h2,
.sunTimes h2{
    text-align: center;
    color: black;
}

.currentWeatherCard i {
    display: block;
    font-size: 40px;
    color: black;
    padding: 10px 0;
}

.currentWeatherCard img{
    height: 60px;
    display: block;
    margin: auto;
}

.currentWeatherCard span{
    font-size: 20px;
}

.weatherMain img{
    height: 15rem;
}

.weatherMain h2 {
    font-size: 4.5rem;
}

.weatherMain p{
    font-size: 1.8rem;
    color: darkslategrey;
}

.currentWeatherCard hr{
    width: 25rem;
    margin: auto;
    border-top: 4px solid black;
    border-radius: 50%;
}

/* --------------------------Home Page - Carousel */
#hidden {
    visibility: hidden; 
}

.forecast-carousel {
    position: relative;
}

.forecast-carousel .next {
    position: absolute;
    top: 50%;
    right: 13%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.forecast-carousel .prev {
    position: absolute;
    top: 50%;
    left: 13%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.forecast-carousel .carousel-wrapper {
    width: 80%;
    height: 375px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    overflow: hidden;
}

.forecast-carousel .carousel-wrapper .forecast-item {
    display: inline-block;
    width: 300px;
    margin: 0px 10px;
    height: 350px;
    background: #f5f5f5;
    border-radius: 30px;
    border: 1px solid rgba(133, 133, 133, 0.329);
    box-shadow: 1.5px 1.5px 4px 1px rgba(133, 133, 133, 0.486);
}

.forecast-item img {
    width: 85px;
    margin: auto;
    display: block;
}

.forecast-item p {
    margin: 0 0 0.2rem;
    text-align: center;
}

.forecast-item p img {
    width: 33px;
    display: inline-block;
}

.forecast-item h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
}

.forecast-item h4 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.forecast-item h5 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
