@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

/* --------------------------Special Padding/Margin */

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

/* --------------------------Colours */

.background{
    background: lightgrey;
}

/* --------------------------Home Page - Landing Section */

.hero-image{
    height: 85vh;
    background: url(../images/landing-image.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-text{
    height: 85vh;
    line-height: 85vh;
    text-align: center;
}

.hero-text img{
    height: 11rem;
}

.search-area{
    background: rgba(0, 0, 0, 0.98);
    margin: auto;
    margin-top: -4.5625rem;
    height: 9.125rem;
    border-radius: 0.625rem;
}

.search-box{
    padding: 3rem 2.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.search-bar{
    width: 85%;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    border:  0.0625rem solid #fff;
    background: transparent;
    color: white;    
}

.search-btn{
    background: #ffec00;
    width: 10%; 
    border-radius: 0.3125rem;
    border: 0.0625rem solid darkgray;
}

/* -------------Search bar errors classes - triggered by Javascript in weather-api.js*/

.emptyTextError{
    color: red;
    padding: 0.15rem 0 0 2.5rem;
}

.emptyTextError .mistake{
    color: rgb(255, 150, 29);
}

.emptyTextError .mistake a{
    color: rgb(255, 150, 29);
    text-decoration: underline;
}

.emptyTextError .mistake a:hover{
    color: rgb(250, 122, 18);
}

.ifErrorBorder{
    border: 1px solid red;
}

/* --------------------------Home Page - Main Section */

.main-section{
    height: 100vh;
    position: relative;
}

.currentWeatherCard{
    margin: 0 auto;
    height: 45rem;
    background: white;
    border: 1px black solid;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80rem;
}

.currentWeatherCard .col{
    margin: auto;
}

.location {
    height: 10rem;
    background: red;
}

.location h2{
    color: black;
    font-size: 65px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

.weatherMain {
    height: 15rem;
    background: yellow;
}

.sunTimes {
    height: 10rem;
    background: green;
}
.weatherForecast {
    height: 10rem;
    background: rgb(42, 180, 226);
}

.weatherForecast h2,
.sunTimes h2{
    text-align: center;
    color: black;
}

.currentWeatherCard i {
    display: block;
    font-size: 40px;
    color: black;
    padding: 10px 0;
}

.currentWeatherCard span{
    font-size: 20px;
}