/* --------------------------Special Padding/Margin */

* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* --------------------------Home Page */

.hero-image{
    height: 85vh;
    background: url(../images/landing-image.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-text{
    height: 85vh;
    line-height: 85vh;
    text-align: center;
}

.hero-text img{
    height: 11rem;
}

.search-area{
    background: rgba(0, 0, 0, 0.98);
    margin: auto;
    margin-top: -4.5625rem;
    height: 9.125rem;
    border-radius: 0.625rem;
}

.search-box{
    padding: 3rem 2.5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.search-bar{
    width: 85%;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    border:  0.0625rem solid #fff;
    background: transparent;
    color: white;    
}

.search-btn{
    background: #ffec00;
    width: 10%; 
    border-radius: 0.3125rem;
    border: 0.0625rem solid darkgray;
}

.emptyTextError{
    color: red;
    padding: 0.15rem 0 0 2.5rem;
}

.emptyTextError .mistake{
    color: rgb(255, 150, 29);
}

.emptyTextError .mistake a{
    color: rgb(255, 150, 29);
    text-decoration: underline;
}

.emptyTextError .mistake a:hover{
    color: rgb(250, 122, 18);
}

.ifErrorBorder{
    border: 1px solid red;
}
